html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #800020;
}

a {
    color: whitesmoke;
}

h1 {
    font-size: 50px;
    font-family: "Lucida Handwriting";
    color: whitesmoke;
    text-indent: 100px;
}

h2 {
    font-size: 35px;
    font-family: "Lucida Handwriting";
    color: whitesmoke;
    text-align: right;
    text-indent: 100px;
    padding-right: px;
    word-spacing: 10px;
}

div.a {
    font-size: 35px;
    color: whitesmoke;
}

blockquote {
    font-size: 35px;
    color: whitesmoke;
    width: 475px;
}

a {
    text-decoration: none;
    border-style: solid;
    margin: 30px;
    border-spacing: 5px;
}