html {
    height: 100%
}

body {
    background-color: blueviolet;
}

a {
    color: whitesmoke;
}

h1 {
    font-size: 50px;
    font-family: "Lucida Handwriting";
    color: whitesmoke;
    text-indent: 100px;
}

h2 {
    font-size: 35px;
    font-family: "Lucida Handwriting";
    color: whitesmoke;
    text-align: right;
    text-indent: 100px;
}