div.a {font-size: 55px; font-family: 'Times New Roman', Times, serif}
div.b {font-size: 45px; font-family: 'Times New Roman', Times, serif;}
div.c {font-size: 35px; font-family: 'Times New Roman', Times, serif;}
div.d {font-size: 25px; font-family: 'Lucida Handwriting';}
p.a {background-color: blueviolet;}