div.a {font-size: 55px; font-family: 'Times New Roman', Times, serif}
div.b {font-size: 45px; font-family: 'Times New Roman', Times, serif;}
div.c {font-size: 35px; font-family: 'Times New Roman', Times, serif;}
div.d {font-size: 25px; font-family: 'Lucida Handwriting';}
div.e {font-style: italic;}
figure {color: lightgray; width: 600px; margin: auto}
body {background-color: blueviolet; width: 800px;}
img {width: 600px;}