* {
    box-sizing: border-box;
    size: 100%;
}

header {
    background: linear-gradient(to right, aqua 20%, yellow 65%);
    box-shadow: inset 0px -5px 5px white;
}

body {
    background-color: white;
}

.a {
    color: blue;
}

.b {
    color: red;
}

h1 {
    text-align: center
}

.blurbleft {
    font-family: 'Lobster', cursive;
    background-image: url(http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/blue-jelly-icons-people-things/061181-blue-jelly-icon-people-things-speech.png);
    background-size: auto 200px;
    background-repeat: no-repeat;
    padding-left: 175px;
    min-height: 202px;
    min-width: 400px;
    color: red;
    margin-right: auto;
    border-style: solid;
    border-radius: 15px;
    width: 90%;
}

.blurbright {
    font-family: 'Gloria Hallelujah', cursive;

    background-image: url(https://camo.githubusercontent.com/3d71ab70d4e23627d68c9b645e3ebb06a3e69ac9/687474703a2f2f7777772e766572616d6174652e636f6d2f436f6e74656e742f696d616765732f566572614d6174652f766f6963652d636f6e74726f6c2e706e67);
    background-size: auto 200px;
    padding-right: 175px;
    background-position: right;
    background-repeat: no-repeat;
    color: blue;
    min-height: 202px;
    min-width: 400px;
    margin-left: auto;
    border-style: solid;
    border-radius: 15px;
    width: 90%;
}