* {
    box-sizing: border-box;
}

footer{ text-align: center;
}
.kit {
    clear: both;
    font-size: 25px;
    text-align: left;
}

table {
    text-align: center;
    margin: 0 100px;
    display: inline;
    font-size: 25px;
}

td {
    vertical-align: top;
}

table tr:nth-child(odd) {
    padding-bottom: 500px;
}

.list {
    margin: 0 auto;
}
#left {float: left;
height: 400px;
width: auto;}
#right {
    float: right;
    height: 400px;
}
.wine {
    clear: both;
    text-decoration: none;
}

.image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    text-align: center;
}
.b image {margin-left: 320px;}

.left {
    float: left;
    color: black;
    text-align: left;
    text-indent: 3em;
    font-size: 35px;
    margin-right: 10px;
}

#logo {
    background-image: url("Silhouette Gray.png");
    font-size: 20px;
    color: black;
}
.catalog a{text-decoration: none;
color: black;}
.catalog { clear: both;
display: block;}

.drinks {font-size: 24px;}

body {
    background-color: #c6b366;
    margin: 0;
    padding: 0;
}

h1 a {
    font-size: 50px;
    font-family: "Lucida Handwriting";
    color: black;
    margin-left: 50px;
    text-decoration: none;
}

h2 {
    font-size: 35px;
    font-family: "Lucida Handwriting";
    color: black;
    text-align: right;
    text-indent: 100px;
    padding-right: 15px;
    word-spacing: 10px;
}

hr {
    background-color: black;
    border-color: black;
    margin-left: 0;
    margin-right: 0;
    height: 5px;
}

nav {
    clear: both;
}

nav a {
    font-size: 155%;
    color: black;
    text-decoration: none;
    list-style-type: none;
    border-style: solid;
    background-color: #8e9294;
    border-color: #8e9294;
    margin: 1.5%;
    border-spacing: 10px;
}

iframe {
    src: url("https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.5886766959047!2d-90.05856778407815!3d43.448305879128846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87fd8b74ce4402af%3A0xaee8737ed00a7064!2sNarrows+Creek+Winery!5e0!3m2!1sen!2sus!4v1524496651665");
    width: 800px;
    height: 600px;
}

.menu {
    display: none;
    float: right;
    border-left: 1px;
    font-size: 20pt;
    cursor: pointer;
}

.pagename {
    text-align: left;
    margin-top: 75px;
    float: left;
    font-size: 50px;
    color: black;
    text-indent: 50px;
    text-decoration: none;
}

blockquote {
    text-align: center;
    clear: both;
    font-size: 35px;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu ul {
    position: fixed;
    right: 0;
    font-size: 10pt;
    z-index: 1000;
}
@media(min-width: 1700px){body{    width: 1920px;
    overflow-x: hidden;}}
@media (min-width: 1360px) {
    body {
        background-color: #c6b366;
    }
    nav a {
        font-size: 140%;
        margin: 1.7%
    }
    h1 a {
        font-size: 55px;
        text-indent: 5px;
        font-family: 'Lucida Handwriting';
    }
    iframe {
        width: 600px;
        height: 400px;
    }
}

@media (max-width: 1024px) {
    nav a {
        visibility: hidden;
    }
    body {
        background-color: #c6b366;
    }
    h1 a {
        font-size: 35px;
        text-indent: 5px;
    }
    h2 {
        font-size: 20px;
        font-family: "Lucida Handwriting";
        color: black;
        text-align: right;
        text-indent: 100px;
        padding-right: 15px;
        word-spacing: 10px;
    }
    #right {
        float: right;
        height: 300px;
    }
    .menu {
        display: block;
    }
    .menu ul {
        display: none;
        list-style-type: none;
        padding-left: 0;
        width: 225px;
    }
    .menu:active ul {
        display: block;
    }
    .menu:focus ul {
        display: block;
    }
    .left {
        font-size: 30px;
    }
    .menu li {
        background-color: #8e9294;
        border-bottom: 1px solid black;
        font-size: 20px;
    }
    .menu a {
        border: none;
    }
    .pagename {
        text-align: left;
        font-size: 45px;
        color: black;
        text-indent: 35px;
        text-decoration: none;
    }
    blockquote {
        clear: both;
    }
    iframe {
        width: 450px;
        height: 250px;
    }
    .pagename {
        margin-top: 20px;
    }
    @media (max-width: 640px) {
        nav a {
            visibility: hidden;
        }
        body {
            background-color: #c6b366;
        }
        h1 a {
            font-size: 35px;
            text-indent: 5px;
        }
        h2 {
            font-size: 20px;
            font-family: "Lucida Handwriting";
            color: black;
            text-align: right;
            text-indent: 100px;
            padding-right: 15px;
            word-spacing: 10px;
        }
        #right {
            float: right;
            height: 200px;
        }
        .menu {
            display: block;
        }
        .menu ul {
            display: none;
            list-style-type: none;
            padding-left: 0;
            width: 225px;
        }
        .menu:active ul {
            display: block;
        }
        .menu:focus ul {
            display: block;
        }
        .menu li {
            background-color: #8e9294;
            border-bottom: 1px solid black
        }
        .menu a {
            border: none;
        }
        .pagename {
            text-align: left;
            font-size: 35px;
            color: black;
            text-indent: 35px;
            text-decoration: none;
        }
        .left {
            font-size: 20px;
        }
        blockquote {
            clear: both;
        }
        iframe {
            width: 450px;
            height: 250px;
        }
        .pagename {
            margin-top: 20px;
        }
    }
}